@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.header {
  display: flex;
  height: 80px;
  /* background-color: burlywood; */
  justify-content: space-between;
  width: 100vw;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between;

  .header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-weight: bold;
    padding-left: 5px;
  }
}

.logo {
  width: 70px;
  height: 70px;
}

.nav-menu {
  ul,
  li {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-right: 5px;
    cursor: pointer;
  }
}

.offer {
  color: #fff;
  text-align: left;
  z-index: 1;
  background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
  margin: 0;
  padding: 10px;
  font-size: 24px;
  border-radius: 0 0 24px 24px;
  top: 50%;
  left: 50%;
  transform: translate(0%, -100%);
}
